In [10]:
import pandas as pd
seals_price = pd.read_csv('csv/ascension_seals_prices.csv')
seals_price['unit price'] = df['gog']/df['seals']
ascend_cost = pd.read_csv('csv\Rad_Soul_Economics.csv')
ascend_cost['cost(gog)'] = ascend_cost['Seals_Ascension']*seals_price['unit price'].min()
ascend_cost

      Rarity  price  Soul_income  Soul_expense  Seals_Ascension  cost(gog)
0       Rare    1.3           50           150               19  13.887353
1       Epic    2.5          250          1500               30  21.927400
2  Legendary   14.0         2000          7960              110  80.400467

In [14]:
rare_dupes = 7
dupes = pd.read_csv('csv\hero_dupes/rare.csv')
dupes['needed'] = rare_dupes - dupes['owned']%rare_dupes
dupes

     hero  owned  needed
0   huurk      4       3
1  toktun      3       4
2  yalmar      5       2
3   okubo      9       5