In [68]:
import pandas as pd
import os
os.getcwd()

path = 'csv/ascension_seals_prices/'
df_seals_price = pd.read_csv(f'{path}price.csv')
df_seals_quant = pd.read_csv(f'{path}quantity.csv')
price = df_seals_price.iloc[1]['gog_mountain']
quant = df_seals_quant.iloc[0]['seals_mountain']

path = 'csv/'
df_ascension = pd.read_csv(f'{path}Rad_Soul_Economics.csv')
ascension_rare = df_ascension.iloc[0]['Seals_Ascension']
ascension_epic = df_ascension.iloc[1]['Seals_Ascension']
ascension_leggy = df_ascension.iloc[2]['Seals_Ascension']

cost_asc = {'rare':ascension_rare,
            'epic':ascension_epic,
            'leggy':ascension_leggy}
df_econ = pd.DataFrame(cost_asc,index=['cost'])

variable = round(quant/price,1)
new_row = df_econ.apply(lambda x: x * variable, axis=1)
df_new = pd.merge(df_econ,new_row,how='outer')
df_transpose  = (df_new.T)
df_columns = df_transpose.rename(columns={0:'cost_seals',
                                 1:'cost_GoG'})
df_columns

C:\Users\17023\AppData\Local\Temp\ipykernel_22228\2813052486.py:24: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  df_new = pd.merge(df_econ,new_row,how='outer')

       cost_seals  cost_GoG
rare         19.0      17.1
epic         32.0      28.8
leggy       229.0     206.1

In [ ]:
seals_price['unit price'] = seals_price['gog']/seals_price['seals']
print(seals_price)
print()
ascend_cost = pd.read_csv('data/csv\Rad_Soul_Economics.csv')
ascend_cost['cost(gog)'] = ascend_cost['Seals_Ascension']*seals_price['unit price'].min()
ascend_cost['profit(GoG)'] = ascend_cost['floor'] - ascend_cost['cost(gog)']
ascend_cost['profit(GoG/Seal)'] = ascend_cost['profit(GoG)']/ascend_cost['Seals_Ascension']
print(ascend_cost)

     bundle  seals      gog  unit price
0   handful     40    80.71    2.017750
1     chest    600  1078.04    1.796733
2  mountain   3000  4488.00    1.496000

      Rarity  price  Soul_income  Soul_expense  Seals_Ascension  floor  \
0       Rare    1.3           50           150               19   37.0
1       Epic    2.5          250          1500               32   62.5
2  Legendary   14.0         2000          7960              229  400.0

   cost(gog)  profit(GoG)  profit(GoG/Seal)
0     28.424        8.576          0.451368
1     47.872       14.628          0.457125
2    342.584       57.416          0.250725

      Rarity  price  Soul_income  Soul_expense  Seals_Ascension  cost(gog)
0       Rare    1.3           50           150               19     28.424
1       Epic    2.5          250          1500               32     47.872
2  Legendary   14.0         2000          7960              229    342.584

In [14]:
rare_dupes = 7
dupes = pd.read_csv('csv\hero_dupes/rare.csv')
dupes['needed'] = rare_dupes - dupes['owned']%rare_dupes
dupes

     hero  owned  needed
0   huurk      4       3
1  toktun      3       4
2  yalmar      5       2
3   okubo      9       5