In [1]:
import pandas as pd
import os
os.getcwd()

'Z:\\Zip\\Media\\Games\\Guild of Guardians\\data'

In [75]:
df = pd.read_csv('csv/Levelling.csv')
df['scrolls_cum'] = df['scrolls(L)'].cumsum()
df['level_diff'] = df['level'].diff()
df['Marginal_Effect'] = df['scrolls(L)'] / df['level_diff']
df

    level  scrolls(L)  scrolls_cum  level_diff  Marginal_Effect
0       0           0            0         NaN              NaN
1      80         283          283        80.0         3.537500
2     100         483          766        20.0        24.150000
3     110         404         1170        10.0        40.400000
4     120         473         1643        10.0        47.300000
5     130         457         2100        10.0        45.700000
6     140         686         2786        10.0        68.600000
7     150         840         3626        10.0        84.000000
8     158         805         4431         8.0       100.625000
9     160         222         4653         2.0       111.000000
10    166         721         5374         6.0       120.166667
11    170         531         5905         4.0       132.750000
12    173         426         6331         3.0       142.000000
13    178         770         7101         5.0       154.000000
14    180         330         7431         2.0       165.000000

In [76]:
def level_guardian(scrolls_f, levels,data):
    data_max = max(data['level'])
    print(data_max)
    scrolls_consumed_cum = 0
    levels_new = []
    for guardian in levels:
        while guardian < level_max:
            level = df[df['level'] == guardian]['level'].iloc[0]
            #print('level: ' + str(level))
            scrolls_consumed = df[df['level'] == guardian]['scrolls(L)'].iloc[0]
            scrolls_f -= scrolls_consumed
            if scrolls_f > 0:
                guardian += 10
                scrolls_consumed_cum += scrolls_consumed
            else:
                print('here!')
                return scrolls_f,levels
            #print(scrolls_f)
        levels_new.append(guardian)
    print(levels_new)
    return scrolls_f,levels_new,scrolls_consumed_cum

scrolls = 24000+2900+2210*2
squad = 5
scrolls_per = scrolls/squad
print(scrolls_per)
levels_guardians = [150,140,140,130,130]
level_max = max(levels_guardians)
# level_guardian(scrolls,levels_guardians)
# while scrolls > 0:
#     print('scrolls: ' + str(scrolls))
#     scrolls,levels_guardians,scrolls_consumed = level_guardian(scrolls,levels_guardians,df)
#     level_max +=10

#print('scrolls: ' + str(scrolls))
#print(levels_guardians)
#print(scrolls_consumed)
# # Assuming all guardians to be levelled are at the same initial level
# scroll_per_guardian = scrolls/guardians
# print(scroll_per_guardian)

6264.0

In [45]:
test = [1,2,3]
test = [2,3,4]
print(test)

[2, 3, 4]

Check Data Source
lvl 110-120 should not require more scrolls than 120-130