In [1]:
import pandas as pd
import os
os.getcwd()
# os.listdir()

'Z:\\'

In [30]:
sku_seal = ['handful','chest','mountain']
sku_quant = [40,600,3000]
sku_price = [32.37,432.33,1799.85]
# sku = dict(sku_seal:sku_quant)
sku = pd.DataFrame(
    {'size': sku_seal,
     'quant':sku_quant,
     'price(GoG)':sku_price
     })
sku['price_unit'] = sku['price(GoG)']/sku['quant']
min = sku[sku['price_unit'] == sku['price_unit'].min()].index
size = sku['size'][min].values
print(size)
sku

['mountain']

       size  quant  price(GoG)  price_unit
0   handful     40       32.37     0.80925
1     chest    600      432.33     0.72055
2  mountain   3000     1799.85     0.59995

In [ ]:
cost_enlighten_rare =

In [13]:
df = pd.read_csv('Rad_Soul_Economics.csv')
df['Soul_Value_Market'] = df['Soul_income']/df['price']
df['Soul_Value_Recycle'] = df['Soul_expense']/df['price']
df['Seals_value()'] = df['Seals_Ascension']/df['price']
df

,Rarity,price,Soul_income,Soul_expense,Seals_Ascension,Soul_Value_Market,Soul_Value_Recycle,Seals_value
0,Rare,1.3,50,150,19,38.461538,115.384615,14.615385
1,Epic,2.5,250,1500,30,100.000000,600.000000,12.000000
2,Legendary,14.0,2000,7960,110,142.857143,568.571429,7.857143

0.052